@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Root Variables: Define the main color scheme and layout settings */
:root {
  --bg-color: #ffffff; /* Background color */
  --borders-color: #454c54; /* Border color */
  --color-txt: #000000; /* Text color */
  --input-colors: #e6eaef; /* Input background color */
  --shadows-colors: rgba(0, 0, 0, 0.2); /* Shadow color */
  --filter: invert(0); /* Default filter */
  --flex-dir: row; /* Default flex direction */
  --max-box-size: 60vw;
  --items-align: start;
}


/* Dark Theme Variables: Overrides for dark mode */
[data-theme="dark"] {
  --bg-color: #000000;
  --borders-color: #bab3ab;
  --color-txt: #ffffff;
  --input-colors: #191510;
  --shadows-colors: rgba(255, 255, 255, 0.2);
  --filter: invert(1);
}
@media (max-width: 1150px) {
  :root {
    --flex-dir: column;
    --max-box-size: 75%;
    --items-align: center;
  }
}

body{

}

body {
  align-items: center;
  font-family: "Share Tech Mono", monospace; /* Font family */
  background-color: var(--bg-color);
  color: var(--color-txt);
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

h1{
  margin: 8px;
  font-size: 2em;
}
/* Headings: Styling for all <h2> elements */
h2 {
  font-size: 1.5em;
  font-weight: 600;
  padding: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--borders-color);
}

/* Main Wrapper: Container styling for main layout */
.structure-wrapper {
  display: flex;
  align-items: var(--items-align);
  justify-content: center;
  flex-direction: var(--flex-dir);
  text-align: left;
}

/* Section Styling */
section {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 200px;
  margin: 24px;
  padding: 24px;
  border: 1px solid var(--borders-color);
  border-radius: 1rem;
  box-shadow: 8px 4px 4px var(--shadows-colors);

}
.result-container{
  max-width: var(--max-box-size);
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.form-group label {
  margin-right: 16px;
  width: 6emx;
  text-align: right;
}

.form-group input {
  width: 5em;
  padding: 8px;
  background-color: var(--input-colors);
  border: 1px solid var(--color-txt);
  color: var(--color-txt);
  border-radius: 4px;
}

/* Iframe Styling */
iframe {
  border: none; /* Removes border */
}

/* Size Group Styling */
.size-group {
  display: flex;
  justify-content: space-between;
}

.size-field {
  display: flex;
  width: 60px;
  align-items: center;
  flex: 1;
}

.multiply {
  margin: 0 8px;
  font-size: 24px;
}
.size-field:last-child {
  margin-right: 0;
}

.size-field label {
  width: 50px;
  text-align: right;
}

.size-field input {
  width: 32px;
  background-color: var(--input-colors);
  border-radius: 4px;
}



/* Code Blocks: Styling for code display */
code {
  background-color: var(--input-colors);
  padding: 8px;
  border-radius: 8px;
  overflow-x: auto;
}

pre {
  white-space: pre-wrap;
  margin: 0;
}

.helper {
    visibility: hidden;
    background-color: var(--input-colors);
    color: var(--color-txt);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 100%; /* Adjust position as needed */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
.label-container {
    position: relative;
    display: inline-block;
}

.label-container:hover .helper {
  visibility: visible;
  opacity: 1;
}

 .helper:hover{
  background-color: var(--input-colors);
  display: block;
  content: 'Hello';
  width: 60;
}

code:hover .copy-button {
  display: inline-block;
}

/* Result Section: Contains output display */
.result {
  display: flex;
  flex-direction: column;
}

/* Button Styling */
button {
  cursor: pointer;
  background-color: var(--input-colors);
  border: none;
  border-radius: 4px;
}

.copy-button {
  display: none; /* Initially hidden */
  margin: 2px;
  position: absolute;
  padding: 1px;
}

.copy-button:hover {
  background-color: var(--bg-color);
}

.copy-button::after {
  content: ''; /* Tooltip content */
  display: none;
  position: absolute;
  top: -30px;
  padding: 5px 10px;
  background-color: var(--color-txt);
  color: var(--bg-color);
  border-radius: 4px;
  z-index: 1;
}

.copy-button.copied::after {
  display: block;
  content: 'Copied!';
}

/* Dark Mode Button Styling */
#darkmode {
  position: absolute;
  top: 8px;
  left: 8px;
}

/* SVG Styling */
img[type="svg"] {
  margin-top: 2px;
  filter: var(--filter);
}
