/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap');

/* ========== CSS Variables ========== */
:root {
  /* Border Variables */
  --color-border: #000000;

  /* Text Variables */
  --color-txt: #00CCFF;
  --color-bg: #00000000;
  --font-weight: 500;
  --font-size: 50px;
  --font: 'Orbitron';
  --width: 500;
  --height: 50;
}

/* ========== Global Styles ========== */
body {
  margin: 0;
  display: none;
}

/* ========== Header Block Styles ========== */
.header-bloc {
  width: var(--width);
  border-top: 4px solid var(--color-border);
  border-bottom: 4px solid var(--color-border);
  background-color: var(--color-bg);
  text-align: center;
}

/* ========== Header Text Styles ========== */
.header-text {
  color: var(--color-txt);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  font-family: var(--font);
  font-optical-sizing: auto;
}
