@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap');

body {
  margin-top: 16;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bloc {
  width: 80%;
  border: 5px solid #FF00FF;
  padding: 20px;
  text-align: center;
}

.header-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 2em;
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  filter: invert(1);
  mix-blend-mode: difference;
}
