@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* Black background for the entire page */
}

.header-bloc {
  border: 5px solid #FF00FF; /* Electric pink border */
  padding: 20px;
  text-align: center;
  background-color: black; /* Black background for the header block */
}

.header-text {
  color: white; /* White text color for better contrast */
  font-size: 2em;
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
}
